{include file='/Admin/header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">数据分析 > 编辑数据</span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-6">
            <form method="post" action="/{$admin_path}/click_analysis/editpost">
                <input type="hidden" name="itemid" value="{$data[0]['itemid']}"/>
                <div class="mb-3">
                    <label class="form-label page-pretitle">itemid (数据库itemid)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" disabled name="itemid"  value="{$data[0]['itemid']}" placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">ad_views (页面广告浏览量)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="ad_views" value="{if $data[0]['ad_views'] eq 0}{else}{$data[0]['ad_views']}{/if}"  placeholder="{if $data[0]['ad_views'] eq 0}0{/if}">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">ad_display (页面广告展示量)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="ad_display" value="{if $data[0]['ad_display'] eq 0}{else}{$data[0]['ad_display']}{/if}"  placeholder="{if $data[0]['ad_display'] eq 0}0{/if}">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">ad_hits (页面广告点击数)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200"  name="ad_hits" value="{if $data[0]['ad_hits'] eq 0}{else}{$data[0]['ad_hits']}{/if}"  placeholder="{if $data[0]['ad_hits'] eq 0}0{/if}">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">ad_income (页面广告估算收入,单位:$)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="ad_income"  value="{if $data[0]['ad_income'] eq 0.00}{else}{$data[0]['ad_income']}{/if}" placeholder="{if $data[0]['ad_income'] eq 0.00}0.00{/if}">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">ad_cpc (页面广告点击单价,单位:$)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200"  name="ad_cpc" value="{if $data[0]['ad_cpc'] eq 0.00}{else}{$data[0]['ad_cpc']}{/if}"  placeholder="{if $data[0]['ad_cpc'] eq 0.00}0.00{/if}">
                    </div>
                </div>


                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='/Admin/footer'}
