{include file='/Admin/header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">短链管理 > 统计列表 <span class="page-pretitle">(待审核链接：{$check_malicious_8_count} 嫌疑链接：{$check_malicious_9_count})  (投诉:{$malicious_data_num}，留言:{$contact_data_num}，最后数据: {$shortener_last_data[0]->itemid}-{$shortener_last_data[0]->timestamp|date='Y-m-d H:i'})  (Shell_1: {if ($now_timestamp-$malicious_url_status_time ) lt 1000}Running{else}Stop{/if}  Shell_2: {if ($now_timestamp-$check_malicious_2_local_status_time ) lt 1000}Running{else}Stop{/if} 当天数据是直接从redis读取，未储存在数据库中) </span></span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>日期</th>
            <th>当天M量</th>
            <th>当天PC量</th>
            <th>当天总量</th>
            <th>当天广告量</th>
            <th>当天URL量</th>
            <th>ad_views</th>
            <th>ad_display</th>
            <th>ad_hits</th>
            <th>ad_rpm</th>
            <th>ad_income</th>
            <th>ad_ctr</th>
            <th>ad_cpc</th>
            <th>edit</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="" }
          {if $vo.date_time eq $today_datetime and $page_num eq 1}
            <tr>
              <td><span class="text-muted">{$vo.date_time}</span></td>
              <td>{$vo.m_clicks}</td>
              <td>{$vo.pc_clicks}</td>
              <td>{$vo.all_clicks}</td>
              <td>{$vo.middle_page_clicks}</td>
              <td>{$vo.short_url}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          {/if}
          {/volist}
          {volist name="data_list_array" id="vo" empty="" }
            <tr>
              <td><span class="text-muted">{$vo->date_time}</span></td>
              <td>{$vo->m_clicks}</td>
              <td>{$vo->pc_clicks}</td>
              <td>{$vo->all_clicks}</td>
              <td>{$vo->middle_page_clicks}</td>
              <td>{$vo->short_url}</td>
              <td>{$vo->ad_views}</td>
              <td>{$vo->ad_display}</td>
              <td>{$vo->ad_hits}</td>
              <td>{$vo->ad_rpm}</td>
              <td>{$vo->ad_income}</td>
              <td>{$vo->ad_ctr}%</td>
              <td>{$vo->ad_cpc}</td>
              <td><a href="/{$admin_path}/analysis/edit?itemid={$vo->itemid}">[=]</a></td>
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        
    </div>
  </div>
</div>

{include file='/Admin/footer'}