{include file="/Index/header_1" /}

<main>
<section id="urlbox">
<h3>Free URL shortener, no subscription required, free forever.</h3>
<div class="index_h1_box"></div>
<form action="/shortener" name="form" method="post" onSubmit="return beforeSubmit(this);">
    <div class="form_box">
        <div class="error_notice" style="display:none;"></div>
            <div id="formurl">
                <input type="text" name="hash_str" value="" id="hash_str" style="display: none;">
                <input type="text" name="url" id="url" value="" placeholder="Paste a long url here">
                <div id="formbutton">
            <input type="submit" value="Shorten URL">
            </div>
        </div>

        <div class="check_site_id">
            <ul>
                <li>
                    <span class="check_site_id_span_one">Customize your link</span>
                    <span class="check_site_id_span_two">Customize</span>
                </li>
                {volist name="customize_data" id="vo"}
                <li>
                    <input type="radio" name="check_site_id" value="{$vo->itemid}"  {if $vo->is_checked eq 1}checked{/if}>
                    <span>{$vo->domain_url}</span>
                </li>
                {/volist}
                <div class="clear"></div>
                
            </ul>
        </div>
    </div>
</form>
<p class="boxtextcenter">This is a free tool to shorten a URL or reduce a link<br>Use our URL Shortener to create a shortened link making it easy to remember</p>
</section>


<section id="emailbox">
    <h2>Shorten 10 URLs at once.</h2>
<br/>
<a href="/shortener-batch" class="colorbutton">CLICK HERE</a>
<br/>
<br/>
 </section>


 <div class="index_analysis_box">
    <div class="index_analysis">
        <div class="header">
            <p>Total links</p>
            
        </div>
        <div class="body">
            <span class="text-success">{$total_clicks}</span>
        </div>

    </div>
    <div class="index_analysis index_fl">
        <div class="header">
            <p>Total links</p>
        </div>
        <div class="body">
            <span class="text-purple">{$total_links}</span>
        </div>
    </div>
    <div class="index_analysis index_fl">
        <div class="header">
            <p>Links Today</p>
        </div>
        <div class="body">
            <span class="text-info">{$links_today}</span>
        </div>
    </div>
<div class="clear"></div>
</div>

{if $index_display_user_cookies_data eq 1}
    {if $cookie_data_count_num gt 0}
    <div class="index_history_click_box">
        <ul class="index_click_box_ul" style="margin-top: -2px;">
            <li class="w100"><p>Click Counter {if $cookie_data_count_num gt 2 && $cookie_data_total_clicks gt 50 }(Total: {$cookie_data_total_clicks}){/if}</p></li>
        </ul>
        <ul class="index_click_box_ul">
            <li class="w30"><p>Shorten URL</p></li>
            <li class="w10"><p>Click</p></li>
            <li class="w58"><p>Long URL</p></li>
        </ul>

        {volist name="cookie_data" id="vo"}

        <ul class="index_click_box_ul">
            <li class="w30"><input value='{$domain_data[$vo.site_id-1]["http_prefix"]}{$domain_data[$vo.site_id-1]["domain_url"]}/{$vo.short_url}'/></li>
            <li class="w10"><p>{$vo.hits}</p></li>
            <li class="w58"><input value="{$vo.url}" class="tl"/></li>
        </ul>
        {/volist}
        
    </div>
    {/if}
{/if}

</main>
<script type="text/javascript" src="/static/js/5e20e1e5ddc34269647ce58a762859e5.js"></script>
<script language="javascript">
    timestamp("{$index_timestamp}");
</script>
<script type="text/javascript">
    
    function show_notice(){
        $(".error_notice").toggle(100);
        $(".error_notice").html("<p>URL error, Please check it.</p>");
        $(".error_notice").toggle(100);
    }

    function beforeSubmit(form){
        if($("#url").val().length < 4){
            show_notice();

            form.url.focus();
            return false;
        } 
    }
</script>


{include file="/Index/footer_1" /}