<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="applicable-device" content="pc,mobile">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width">
<title>New Domain</title>
<style>
.main_box{max-width:500px;min-width:320px;border:none;font-size:16px;margin:60px auto;color:#666;}
.main_box H3{text-align:center;}
.li3{margin:60px auto;border:1px solid #666666;width:100%;border-radius:5px;text-align:center;padding:10px;font-size:16px;text-decoration:none;}
.li3 a{text-decoration:none;color:#666}
h3{margin-top: 20px;}
</style>
</head>
<body>
<div class="main_box">

        <h1>Domain have been changed!</h1>
        <h3 style="text-align: left;"><b style="color:gray;">This domain will be stop，new domain is    </b><b style="color:red;margin-top: 5px;"><a href="https://m5.gs/">https://m5.gs/</a></b></h3>
    
</div>

</body>
</html>