{include file="/Index/header_1" /}
<main>
    <section id="content">
    <h1>Total URL Clicks</h1>
    <p>The total number of clicks that your link has received so far.</p>
    </section>
    <section id="urlbox">
    <br><br>
    <form action="/url-total-clicks" method="get">
    <div id="formurl">
    <input type="text" name="url" placeholder="Create other shortened URL">
    <div id="formbutton">
    <input type="submit" value="Track Clicks">
    </div>
    </div>
    </form>
    <p style="padding: 0 50px;">Example: https://m5.gs/WktJWm</p>
    </section>
    <section id="content">
    <p>* Track the total hits of the shortened URL in real time, you do not have to register.</p>
    </section>
</main>
{include file="/Index/footer_1" /}