<footer>
    <div id="footerbox">

        <ul>
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/url-click-counter">URL Click Counter</a></li>
            <li>|</li>
            <li><a href="/report-malicious-url">Report Malicious URL</a></li>
            <li>|</li>
            <li><a href="/contact">Contact</a></li>
            
        </ul>
        <br />
        <div class="copyright">© {$year_num} - Tool to shorten a long link.</div>
    </div>
</footer>
</div>

<script language="javascript">
    $(document).ready(function () {
        $("#menu_button_box").click(function () {
            $(".menu_list_box").toggle(200);
        });

        $(".menu_search_box").click(function () {
            $(".menu_search_button").toggle();
        });
    });
</script>

  
</body>
</html>