{include file="/Index/header_1" /}

<style>
.api_code p{line-height: 16px;padding-left: 3px;}

</style>
<main class="api_code">
<p>Shortener api document:</p>


<a href="/aVFTcV" target="_blank">                   Document</a>

<p>-----------------------------------------</p>



<form action="https://m5.gs/develop" method="POST">
    <input type="text" name="hash_str" id="hash_str" value="" style="display:none;">
    <input type="submit" value="CLICK HERE TO GET API TOKEN"  style="background-color: #999;padding: 5px 10px;color: #fff;margin:10px auto;">
</form>
</main>
<script type="text/javascript" src="/static/js/5e20e1e5ddc34269647ce58a762859e5.js"></script>
<script language="javascript">
    timestamp("{$index_timestamp}");
</script>

{include file="/Index/footer_1" /}